<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doStaticCompression="false" />
        <rewrite>
            <outboundRules>
                <rule name="test">
                    <match pattern="/api/" negate="true" />
                    <action type="Rewrite" value="http://web.test.com:233/" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
